@model VehicleServices.Models.Vehicles

<form method="post" style="width: 60%">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create vehicle</h2>
			<hr />
		</div>
		<div class="mb-3">
			<select asp-for="vehicleModel.make_id" asp-items="Model.vehicleMakeList" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
				<option selected>Select vehicle make</option>
			</select>
			
		</div>
		<div class="mb-3">
			<label asp-for="vehicleModel.name"></label>
			<input asp-for="vehicleModel.name" class="form-control" />
			<span asp-validation-for="vehicleModel.name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="vehicleModel.abrv"></label>
			<input asp-for="vehicleModel.abrv" class="form-control" />
			<span asp-validation-for="vehicleModel.abrv" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Model" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back
		</a>
	</div>
</form>